body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Celtic';
  src: local('Celtic'), url(./styles/fonts/celtic/Celtic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'), url(./styles/fonts/openSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: local('OpenSans-Bold'), url(./styles/fonts/openSans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans_Italic';
  src: local('OpenSans-Italic'), url(./styles/fonts/openSans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: local('OpenSans-Light'), url(./styles/fonts/openSans/OpenSans-Light.ttf) format('truetype');
}

